body {
  color: var(--text-color);
  background-color: var(--body-bkground);
  transition: background-color 0.3s;

  max-width: 1000px;
  margin: auto;
}

#top-nav-bar,
#infoHeader {
  max-width: 970px;
  margin: auto;
}

img#refreshPrev {
  height: 20px;
  margin-top: 5px;
  cursor: pointer;
  z-index: 100;
}

.dark #refreshPrev {
  filter: invert(1);
}

#info {
  position: relative;
  min-width: 680px;
  width: calc(100% - 2em);
  color: var(--text-color);
  box-sizing: border-box;
  height: calc(100vh - 6em);
  margin: auto;
  border: 5px solid var(--header-bkground);
}

.preInfo, #notPre {
  position: absolute;
  width: 100%;
  min-width: 680px;
  height: 100%;
  color: var(--text-color);
  background-color: var(--background-color);
  transition: opacity .3s;
  font-size: 1.1rem;
  pointer-events: none;
  overflow: auto;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  margin: 0 auto;
}

#displayCode {
  height: calc(100vh - 35px);
}

#theBottomLine {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  margin: auto;
  height: 2em;
  right: 0;
  color: var(--text-color);
  font-weight: 700;
}

#previewWidth,
#toTop {
  position: absolute;
  text-decoration: none;
  box-sizing: border-box;
  cursor: pointer !important;
  width: fit-content;
  z-index: 1;
}

#toTop {
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 10px;
}

/*
Source - https://stackoverflow.com/a/31355432
Posted by Свободен Роб, modified by community. See post 'Timeline' for change history
Retrieved 2026-02-23, License - CC BY-SA 3.0
*/

.disabled {
  opacity: 0.4 !important;
}

.disabled:hover {
  cursor: not-allowed !important;
}

.disabled:active {
  pointer-events: none !important;
}
