.form-container {
  position: relative;
  height: fit-content;
}

label {
  display: block;
  padding-bottom: 0.3em;
  font-weight: 500;
}

.input {
  width: 100%;
  outline: none;
  height: 2.3em;
  background-color: transparent;
  color: var(--text-color);
  cursor: pointer;
  font-size: 1.1em;
  letter-spacing: 0.05em;
  padding: 0.3em 0.6em;
  background-color: var(--input-bkground);
  border: 0.01em solid var(--text-color);
  outline: none;
  border-color: var(--border-color);
  border-radius: 0.3em;
  white-space: nowrap;
  overflow: hidden;
}

.template .input {
  font-style: italic;
}

.input:focus {
  display: flex;
  align-items: center;
  overflow-y: hidden;
  overflow-x: scroll;
  padding-bottom: .55rem;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.input::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

/* Hide scrollbar for IE, Edge and Firefox */
.input {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.selectOptionsMsg {
  position: absolute;
  z-index: 100;
  bottom: .1rem;
  height: 2em;
  background: var(--input-bkground);
  width: 99%;
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
  pointer-events: none;
}

.form-container:focus-within {
  z-index: 10;
}

.show .datalist-container {
  position: absolute;
  height: var(--datalist-height);
  transition: 0.7s linear;
  scrollbar-width: none;
  z-index: 1000;
}

.datalist {
  display: block;
  padding: 0.65em 0.45em;
  position: relative;
  transform: translateY(-100%);
  transition: transform 0s linear;
  border: 0.11em solid var(--text-color);
  border-top: none;
  border-radius: 0 0 0.47em 0.47em;
  background-color: var(--background-color);
  pointer-events: all;
  z-index: 100000;
  opacity: 0;
}

.show .datalist {
  transform: translateY(0);
  opacity: 1;
}

.datalist-container {
  --datalist-maxHeight: 17.5em;
  --datalist-height: var(--datalist-maxHeight);

  width: 100%;
  height: 0;
  max-height: var(--datalist-height);
  overflow: hidden;
  border-radius: 0 0 0.47em 0.47em;
  pointer-events: none;
  z-index: -10;
  transition: 0s linear;
}

.datalist .option,
.input .option {
  display: flex;
  justify-content: space-between;
  padding: 0.25em;
  margin-bottom: 0.4em;
  cursor: pointer;
  width: 100%;
}

.option.checkAll {
  border-bottom: .05em solid var(--placeholder-color);
  padding-bottom: .5em !important;
}

.option.checkAll > div {
  display: flex;
}

.datalist .option {
  padding: 0
}


.datalist .templateOpt {
  padding: .2em
}

.datalist .option:hover {
  background-color: var(--input-bkground);
}

.input .option {
  pointer-events: none;
}

.datalist .emailOpt {
  display: flex;
  width: 100%;
}

.datalist .emailOpt.shortened {
  width: calc(100% - 1.8em);
}


.email .option span {
  display: flex;
  width: calc(100% - 2.5em);
}

.email .datalist .checkbox {
  font-size: .85em;
}

.input .emailOpt {
  display: flex;
  width: 100%;
}

.datalist p,
.input p {
  white-space: nowrap;
}

.datalist .emailName,
.input .emailName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
}

/* .dark .datalist .emailName,
.dark .input .emailName {
  font-weight: 400;
} */

.datalist .emailDomain,
.input .emailDomain {
  width: fit-content;
  flex-shrink: 0;
  color: #444;
}

.dark .datalist .emailDomain,
.dark .input .emailDomain {
  color: #bbb;
}

.datalist .trashCan {
  width: fit-content;
  flex-shrink: 0;
}

.datalist .trashCan img {
  height: 1rem;
  filter: grayscale(0.5);
}

.datalist .trashCan img:hover {
  filter: grayscale(0);
}

.input-container .option:hover {
  background-color: var(--input-bkground);
}

.input:not(:focus):empty:before {
  pointer-events: none;
  display: block;
  color: var(--placeholder-color)  
}

.email .input:not(:focus):empty:before {
  content: 'Enter or Choose an email address';
}

.template .input {
  caret-color: transparent;
  color: var(--green-template-label)
}

.empty {
  cursor: not-allowed;
}

.selectCheckboxContainer {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: 500;
  white-space: nowrap;
  font-size: .9em;
  font-size: .85em;
}

.templateOpt {
  font-weight: 500;
  cursor: pointer;
}

.dark .input-container label span,
.dark .templateOpt.directory {
  color: lightblue
}

.dark .templateOpt.template {
  color: lightgreen
}

.input-container label span,
.templateOpt.directory {
  color: blue
}

.templateOpt.template {
  color: green
}

.placeHolder {
  position: absolute;
  left: .6em;
  bottom: .6em;
  color: var(--placeholder-color);
  pointer-events: none;
}

.placeHolder .template {
  color: green;
  opacity: .5;
}

.dark .placeHolder .template {
  color: lightgreen;
  opacity: .5;
}

.placeHolder .directory {
  color: blue;
  opacity: .5;
}

.dark .placeHolder .directory {
  color: lightblue;
  opacity: .5;
}

.input span.template {
  color: var(--green-template-label)
}

@keyframes waitingBkgrnd {
  0% {
    /* background: linear-gradient(110deg, transparent 0%, hsla(0, 0%, 50%, .5), hsla(0, 0%, 100%, 1) 2%, hsla(0, 0%, 50%, .5) 5%, transparent); */
    /* opacity: 0; */
    left: -100%;
  }

  25% {
    /* opacity: .3; */
  }

  50% {
    /* opacity: .5; */
  }

  75% {
    /* opacity: .4; */
  }

  100% {
    /* opacity: .3; */
    left: 100%;
  }
}
