.section.getCode {
  display: inline-block;
  inline-size: clamp(35em, 70%, 44em);
  border-radius: 8px;
  block-size: calc(100% - 0px);
  block-size: 100%;
  box-sizing: content-box;
  letter-spacing: 1px;
}

.getCode #form1 {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--input-bkground);
  inline-size: 50%;
  inset-inline-start: 50%;
  transform: translate(-50%);
  block-size: 92.5%;
  min-inline-size: 520px;
  /* padding-block-start: 10px; */
  padding: 1em 1.4em;
  box-sizing: content-box;
}

#template-container_2 {
  position: relative;
  /* margin under File Name input */
  margin: 17px 0 20px;
}

label {
  font-size: 16px;
}

#emailInput,
#templateInput {
  inline-size: 100%;
  outline: none;
  block-size: 40px;
  background-color: transparent;
  color: transparent;
  cursor: pointer;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 10px;

  background-color: var(--input-bkground);
  border: .5px solid var(--text-color);
  outline: none;
  border-color: var(--border-color);
  border-radius: 5px;
}




/*  */

.radioBtnTitle  {
  text-align: center;
  font-size: 1.3em;
}

.radioBtns {
  display: flex;
  justify-content: space-evenly;
  margin: 1em auto;
  max-width: 30em;
}


.btnContainer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 35em;
  text-align: center;
  margin: 0 auto;
}

.getCode button {
  width: 110px;
  padding: 9px 0px;
  margin: 0 7px;
  font-weight: 700;
  font-size: 16px;
  white-space: nowrap;
  border-radius: 8px;
  cursor: pointer;
}

.form-container {
  margin-bottom: .5em
}

button {
  background-color: var(--btn-bkground);
  color: var(--text-color);
}

.remove-comments-container,
.deleteMultiLines {
  padding: .2em 0;
}

.response {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid var(--response-border);
  height: 100px;
  width: 100%;
  flex-shrink: 0;
  margin-top: 20px;
  text-align: center;
  background-color: var(--input-bkground);
}