.section.getCode {
  display: inline-block;
  inline-size: clamp(35em, 70%, 44em);
  border-radius: 8px;
  block-size: calc(100% - 0px);
  block-size: 100%;
  box-sizing: content-box;
  letter-spacing: .1em;
}

.getCode #form1 {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--input-bkground);
  inline-size: 50%;
  inset-inline-start: 50%;
  transform: translate(-50%);
  block-size: 92.5%;
  min-inline-size: 32.5em;
  padding: 1em 1.4em;
  box-sizing: content-box;
}

#template-container_2 {
  position: relative;
  /* margin under File Name input */
  margin: 1.0625em 0 1.25em;
}

label {
  font-size: 1em;
}

#emailInput,
#templateInput {
  inline-size: 100%;
  outline: none;
  block-size: 2.5em;
  background-color: transparent;
  color: transparent;
  cursor: pointer;
  font-size: 1.125em;
  letter-spacing: .0625em;
  padding: .625em;

  background-color: var(--input-bkground);
  border: .0625em solid var(--text-color);
  outline: none;
  border-color: var(--border-color);
  border-radius: .3125em;
}




/*  */

.radioBtnTitle  {
  text-align: center;
  font-size: 1.3em;
}

.radioBtns {
  display: flex;
  justify-content: space-evenly;
  margin: 1em auto;
  max-width: 30em;
}

.btnContainer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 35em;
  text-align: center;
  margin: 0 auto;
}

.getCode button {
  width: 6.875em;
  padding: .5625em 0;
  margin: 0 .4375em;
  font-weight: 700;
  font-size: 1em;
  white-space: nowrap;
  border-radius: .5em;
  cursor: pointer;
}

.form-container {
  margin-bottom: .5em
}

button {
  background-color: var(--btn-bkground);
  color: var(--text-color);
}

.remove-comments-container,
.deleteMultiLines {
  padding: .2em 0;
}

.response {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: .0625em solid var(--response-border);
  height: 6.25em;
  width: 100%;
  flex-shrink: 0;
  margin-top: 1.25em;
  text-align: center;
  background-color: var(--input-bkground);
}