main {
  position: relative;
  display: flex;
  inline-size: calc(100% - 2em);
  min-inline-size: 40em;
  block-size: 35em;
  background-color: var(--main-bkground);
  padding: 0.3em 1.5em;
  margin: auto;
  z-index: 1;

  flex-wrap: wrap;
  justify-content: space-evenly;

  border: .3125em solid var(--nav-bkgrnd);
  background-color: var(--main-bkground);
  margin-bottom: 2em;
}

section.getCode,
section.uploadZip,
section.settings,
section.instructions {
  display: inline-block;
  inline-size: clamp(35em, 70%, 44em);
  block-size: 100%;
  letter-spacing: .1em;
  background-color: var(--input-bkground);
}

#uploadZip,
#settings,
#instructions {
  position: absolute;
  height: 98%;
}

.hideThisDiv {
  opacity: 0;
  pointer-events: none;
}

@media screen and (max-width: 800px) {
  #root {
    font-size: 2vw;
  }
}