#settings {
  padding-top: 1.25em;
  width: 42em;
}

.resetColorsBtn {
  position: absolute;
  top: 1.25em;
  right: 1.25em;
  font-size: 0.9375em;
  cursor: pointer;
}

.settings h2 {
  text-align: center;
  text-decoration: underline;
  width: 100%;
}

.colorChoices {
  display: grid;
  grid-template-columns: 1fr 1.1fr 1fr;
  grid-template-rows: repeat(10, 1fr);
  grid-template-areas: 
    'a1 a2 a3'
    'b1 b2 b3'
    'c1 c2 c3'
    'd1 d2 d3'
    'e1 e2 e3'
    'f1 f2 f3'
    'g1 g2 g3'
    'blur1 input blur2'
    'blur1 input blur2'
    'blur1 input blur2'
  ;
  position: relative;
  margin: 1.875em auto;
  width: fit-content;
}

/* .colorSelector {
  box-sizing: border-box;
  height: 2.5em;
  width: 40em;
  display: flex;
  justify-content: space-between;
} */

/* .dark .colorSelector {
  background-color: transparent;
} */

.colorChoices .darkSide {
  background-color: var(--body-dark-bkground);
  color: white;
}

.darkSide,
.lightSide {
  padding: 0.58em 0;
  width: 12.5em !important;
  flex-shrink: 0;
}

.darkSide,
.lightSide,
.centerOf {
  height: 100%;
  border-radius: 0;
  white-space: nowrap;
  display: inline-block;
}

.centerOf {
  text-align: center;
  letter-spacing: .0625em;
  color: var(--text-color);
  background-color: var(--input-bkground);
}

.centerOf {
  border-color: var(--center-of-border);
}

.centerOf:focus {
  outline: none;
  border-color: var(--text-color);
}

.colorError {
  border-color: red !important;
}

.darkSide span, .lightSide span {
  display: block;
  white-space: nowrap;
  width: min-content;
  margin: auto;
  text-align: center;
  font-weight: bold;
  padding: 0 .5em;
}

.colorChoices .darkSide {
  background-color: var(--body-dark-bkground);
  color: white;
}

.colorChoices .lightSide {
  background-color: rgb(255, 250, 240);
  background-color: rgb(239, 239, 239);
  color: black !important;
}

.colorChoices input {
  font-size: 1em;
  cursor: pointer;
}

.boxShadow.centerOf {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0px;
  justify-content: center;
  block-size: 6em !important;
}

.boxShadow.centerOf div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.2em 0.5em;
}

.boxShadow.darkSide,
.boxShadow.lightSide {
  height: 6em;
  display: flex;
  justify-content: center;
}

.boxShadow.darkSide span,
.boxShadow.lightSide span {
  text-align: center;
}

.boxShadow input {
  width: 3.5em;
  font-size: 1em;
  margin-inline-start: 0.5em;
  margin-inline-end: 0.3em;
  padding-left: 0.3em;
  background: var(--background-color);
  outline: none;
  caret-color: var(--text-color);
  color: var(--text-color);
  /* text-align: center; */
}

/* Chrome, Safari, Edge, Opera */
/* .colorSelector.boxShadow input::-webkit-outer-spin-button,
.colorSelector.boxShadow input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
} */

/* Firefox */
/* .colorSelector.boxShadow input[type='number'] {
  -moz-appearance: textfield;
} */

.boxShadow input:focus {
  cursor: auto;
}

.resetColorsBtn {
  position: absolute;
  top: 1.25em;
  right: 1.25em;
  font-size: 0.9375em;
  cursor: pointer;
}

.resetColorsBtn:hover {
  text-decoration: underline;
}

/* 
      Colors and Background-colors 
      for light & dark side texts 
*/

/* This covers the radius for all examples */
.colorChoices span {
  border-radius: calc(var(--border-radius) * 0.0625em);
}

.boxShadow.darkSide span {
  color: black;
  background-color: white;
  box-shadow: var(--box-shadow) white;
}

.boxShadow.lightSide span {
  color: white;
  background-color: black;
  box-shadow: var(--box-shadow) black;
}

/* Each grid cell */
.oldSrc span.image {
  background-color: var(--image-background);
  box-shadow: var(--box-shadow) var(--image-background);
}

.darkSide.oldSrc {
  grid-area: a1;
}

.centerOf.oldSrc {
  grid-area: a2;
}

.lightSide.oldSrc {
  grid-area: a3;
}

.newSrc span.image {
  background-color: var(--cid-background);
  box-shadow: var(--box-shadow) var(--cid-background);
}

.darkSide.newSrc {
  grid-area: b1;
}

.centerOf.newSrc {
  grid-area: b2;
}

.lightSide.newSrc {
  grid-area: b3;
}

.hslValues span.image {
  background-color: var(--hls-background);
  box-shadow: var(--box-shadow) var(--hls-background);
}

.darkSide.hslValues {
  grid-area: c1;
}

.centerOf.hslValues {
  grid-area: c2;
}

.lightSide.hslValues {
  grid-area: c3;
}

.hexValues span.image {
  background-color: var(--hex-background);
  box-shadow: var(--box-shadow) var(--hex-background);
}

.darkSide.hexValues {
  grid-area: d1;
}

.centerOf.hexValues {
  grid-area: d2;
}

.lightSide.hexValues {
  grid-area: d3;
}

.commentsColor span.image {
  color: var(--comment-text) !important;
}

.darkSide.commentsColor {
  grid-area: e1;
}

.centerOf.commentsColor {
  grid-area: e2;
}

.lightSide.commentsColor {
  grid-area: e3;
}

.hslErrorsText span.image {
  background-color: var(--error-background);
  color: var(--error-color);
  box-shadow: var(--box-shadow) var(--error-background);
}

.darkSide.hslErrorsText {
  grid-area: f1;
}

.centerOf.hslErrorsText {
  grid-area: f2;
}

.lightSide.hslErrorsText {
  grid-area: f3;
}

.hslErrorsBkground span.image {
  background-color: var(--error-background);
  color: var(--error-color);
  box-shadow: var(--box-shadow) var(--error-background);
}

.darkSide.hslErrorsBkground {
  grid-area: g1;
}

.centerOf.hslErrorsBkground {
  grid-area: g2;
}

.lightSide.hslErrorsBkground {
  grid-area: g3;
}

.boxShadow.darkSide {
  grid-area: blur1;
}

.boxShadow.centerOf {
  grid-area: input;
}

.boxShadow.lightSide {
  grid-area: blur2;
}