#settings {
  padding-top: 1.25em;
  width: 42em;
}

.resetColorsBtn {
  position: absolute;
  top: 1.25em;
  right: 1.25em;
  font-size: 0.9375em;
  cursor: pointer;
}

.settings h2 {
  text-align: center;
  text-decoration: underline;
  width: 100%;
}

.colorChoices {
  position: relative;
  height: fit-content;
  margin: 1.875em auto;
  width: fit-content;
}

.colorSelector {
  box-sizing: border-box;
  height: 2.5em;
  width: 40em;
  display: flex;
  justify-content: space-between;
  background-color: #e6e6e6;
}

.dark .colorSelector {
  background-color: transparent;
}

.colorChoices .darkSide {
  background-color: var(--body-dark-bkground);
  color: white;
}

.darkSide,
.lightSide {
  padding: 0.625em 0;
  width: 12.5em !important;
  flex-shrink: 0;
}

.darkSide,
.lightSide,
.centerOf {
  height: 100%;
  border-radius: 0;
  white-space: nowrap;
  display: inline-block;
}

.centerOf {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 35%;
  letter-spacing: 0.0625em;
  border: 0.125em solid transparent;
  box-sizing: border-box;
  color: var(--text-color);
  background-color: var(--input-bkground);
}

.colorSelector:hover:not(:focus-within) .centerOf {
  border-color: var(--center-of-border);
}

.centerOf:focus {
  outline: none;
  border-color: var(--text-color);
}

.colorError {
  border-color: red !important;
}

.darkSide span, .lightSide span {
  display: block;
  white-space: nowrap;
  width: min-content;
  margin: auto;
  text-align: center;
  font-weight: bold;
  padding: 0 .5em;
}

.colorChoices .darkSide {
  background-color: var(--body-dark-bkground);
  color: white;
}

.colorChoices .lightSide {
  background-color: white;
  color: black !important;
}

.colorSelector input {
  font-size: 1em;
  cursor: pointer;
}

.colorSelector.boxShadow {
  height: 15em;
}

.boxShadow .centerOf {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0px;
  justify-content: center;
  height: 6em;
}

.boxShadow .centerOf div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.2em 0.5em;
}

.boxShadow .darkSide,
.boxShadow .lightSide {
  height: 6em;
  display: flex;
  justify-content: center;
}

.boxShadow .darkSide span,
.boxShadow .lightSide span {
  text-align: center;
}

.colorSelector.boxShadow input {
  width: 3.5em;
  font-size: 1em;
  margin-inline-start: 0.5em;
  margin-inline-end: 0.3em;
  padding-left: 0.3em;
  background: var(--background-color);
  outline: none;
  caret-color: var(--text-color);
  color: var(--text-color);
  /* text-align: center; */
}

/* Chrome, Safari, Edge, Opera */
/* .colorSelector.boxShadow input::-webkit-outer-spin-button,
.colorSelector.boxShadow input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
} */

/* Firefox */
/* .colorSelector.boxShadow input[type='number'] {
  -moz-appearance: textfield;
} */

.colorSelector input:focus {
  cursor: auto;
}

.resetColorsBtn {
  position: absolute;
  top: 1.25em;
  right: 1.25em;
  font-size: 0.9375em;
  cursor: pointer;
}

.resetColorsBtn:hover {
  text-decoration: underline;
}

/* 
      Colors and Background-colors 
      for light & dark side texts 
*/

.colorSelector span {
  border-radius: calc(var(--border-radius) * 0.0625em);
}

.boxShadow .darkSide span {
  color: black;
  background-color: white;
  box-shadow: var(--box-shadow) white;
}

.boxShadow .lightSide span {
  color: white;
  background-color: black;
  box-shadow: var(--box-shadow) black;
}

.oldSrc span.image {
  background-color: var(--image-background);
  box-shadow: var(--box-shadow) var(--image-background);
}

.newSrc span.image {
  background-color: var(--cid-background);
  box-shadow: var(--box-shadow) var(--cid-background);
}

.hslValues span.image {
  background-color: var(--hls-background);
  box-shadow: var(--box-shadow) var(--hls-background);
}

.hexValues span.image {
  background-color: var(--hex-background);
  box-shadow: var(--box-shadow) var(--hex-background);
}

.commentsColor span.image {
  color: var(--comment-text) !important;
}

.hslErrorsText span.image {
  background-color: var(--error-background);
  color: var(--error-color);
  box-shadow: var(--box-shadow) var(--error-background);
}

.hslErrorsBkground span.image {
  background-color: var(--error-background);
  color: var(--error-color);
  box-shadow: var(--box-shadow) var(--error-background);
}
