#settings {
  padding-top: 1.25em;
  width: 44em;
}

.resetColorsBtn {
  position: absolute;
  top: 1.25em;
  right: 1.25em;
  font-size: 0.9375em;
  cursor: pointer;
}

.settings h2 {
  text-align: center;
  text-decoration: underline;
  width: 100%;
}

.colorChoices {
  display: grid;
  grid-template-columns: 1fr 1.1fr 1fr;
  grid-template-rows: 0.3fr repeat(10, 1fr);
  grid-template-areas:
    'dark clear light'
    'a1 a2 a3'
    'b1 b2 b3'
    'c1 c2 c3'
    'd1 d2 d3'
    'e1 e2 e3'
    'f1 f2 f3'
    'g1 g2 g3'
    'blur1 input blur2'
    'blur1 input blur2'
    'blur1 input blur2';
  position: relative;
  margin: 1.2em auto;
  width: 97%;
}
/* .colorSelector {
  box-sizing: border-box;
  height: 2.5em;
  width: 40em;
  display: flex;
  justify-content: space-between;
} */

/* .dark .colorSelector {
  background-color: transparent;
} */

.colorChoices .darkSide {
  background-color: var(--body-dark-bkground);
  color: white;
}

.darkSide,
.lightSide {
  padding: 0.58em 0;
}

.centerOf > input {
  text-align: center;
  /* letter-spacing: .625em; */
  color: var(--text-color);
  background-color: var(--input-bkground);
}

.centerOf:not(.boxShadow) {
  border-color: var(--center-of-border);
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerOf > input:focus {
  outline: none;
  border-color: var(--placeholder-color);
}

.boxShadow .centerOf {
  align-items: right;
}

.colorError {
  border-color: red !important;
}

.darkSide span,
.lightSide span {
  display: block;
  white-space: nowrap;
  width: min-content;
  margin: auto;
  text-align: center;
  font-weight: bold;
  padding: 0 0.5em;
}

.colorChoices .darkSide {
  background-color: var(--body-dark-bkground);
  color: white;
}

.colorChoices .lightSide {
  background-color: white;
  color: black !important;
}

.colorChoices input {
  font-size: 1em;
  height: 1.4em;
  cursor: pointer;
  border: 0.1em solid transparent;
}

.colorChoices input:not([type='number']) {
  padding: 0.9em;
}

.boxShadow.centerOf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 0.5em !important;
  block-size: 6em !important;
}

.boxShadow.centerOf div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.2em 0.5em;
}

.boxShadow.darkSide,
.boxShadow.lightSide {
  height: 6em;
  display: flex;
  justify-content: center;
}

.boxShadow.darkSide span,
.boxShadow.lightSide span {
  text-align: center;
}

.boxShadow input {
  width: 3.7em;
  font-size: 1em;
  margin-inline-start: 0.5em;
  margin-inline-end: 0.3em;
  padding-inline-start: 0.2em;
  background: var(--background-color);
  caret-color: var(--text-color);
  color: var(--text-color);
  text-align: left;
}

/* Chrome, Safari, Edge, Opera */
/* .colorSelector.boxShadow input::-webkit-outer-spin-button,
.colorSelector.boxShadow input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
} */

/* Firefox */
/* .colorSelector.boxShadow input[type='number'] {
  -moz-appearance: textfield;
} */

.boxShadow input:focus {
  cursor: auto;
  border: 0.05em solid var(--placeholder-color);
}

.resetColorsBtn {
  position: absolute;
  top: 1.25em;
  right: 1.25em;
  font-size: 0.9375em;
  cursor: pointer;
}

.resetColorsBtn:hover {
  text-decoration: underline;
}

/* 
      Colors and Background-colors 
      for light & dark side texts 
*/

/* This covers the radius for all examples */
.colorChoices span {
  border-radius: calc(var(--border-radius));
}

.boxShadow.darkSide span {
  color: black;
  background-color: white;
  box-shadow: var(--box-shadow) white;
}

.boxShadow.lightSide span {
  color: white;
  background-color: black;
  box-shadow: var(--box-shadow) black;
}

.blankDark {
  background-color: var(--body-dark-bkground);
}

.blankLight {
  background-color: white;
}

/* Each grid cell */
.oldSrc span.image {
  background-color: var(--image-background);
  box-shadow: var(--box-shadow) var(--image-background);
}

.darkSide.oldSrc {
  grid-area: a1;
  padding-top: 0.2em;
}

.centerOf.oldSrc {
  grid-area: a2;
  text-align: center;
}

.lightSide.oldSrc {
  grid-area: a3;
}

.newSrc span.image {
  background-color: var(--cid-background);
  box-shadow: var(--box-shadow) var(--cid-background);
}

.darkSide.newSrc {
  grid-area: b1;
}

.centerOf.newSrc {
  grid-area: b2;
}

.lightSide.newSrc {
  grid-area: b3;
}

.hslValues span.image {
  background-color: var(--hls-background);
  box-shadow: var(--box-shadow) var(--hls-background);
}

.darkSide.hslValues {
  grid-area: c1;
}

.centerOf.hslValues {
  grid-area: c2;
}

.lightSide.hslValues {
  grid-area: c3;
}

.hexValues span.image {
  background-color: var(--hex-background);
  box-shadow: var(--box-shadow) var(--hex-background);
}

.darkSide.hexValues {
  grid-area: d1;
}

.centerOf.hexValues {
  grid-area: d2;
}

.lightSide.hexValues {
  grid-area: d3;
}

.commentsColor span.image {
  color: var(--comment-text) !important;
}

.darkSide.commentsColor {
  grid-area: e1;
}

.centerOf.commentsColor {
  grid-area: e2;
}

.lightSide.commentsColor {
  grid-area: e3;
}

.hslErrorsText span.image {
  background-color: var(--error-background);
  color: var(--error-color);
  box-shadow: var(--box-shadow) var(--error-background);
}

.darkSide.hslErrorsText {
  grid-area: f1;
}

.centerOf.hslErrorsText {
  grid-area: f2;
}

.lightSide.hslErrorsText {
  grid-area: f3;
}

.hslErrorsBkground span.image {
  background-color: var(--error-background);
  color: var(--error-color);
  box-shadow: var(--box-shadow) var(--error-background);
}

.darkSide.hslErrorsBkground {
  grid-area: g1;
}

.centerOf.hslErrorsBkground {
  grid-area: g2;
}

.lightSide.hslErrorsBkground {
  grid-area: g3;
}

.boxShadow.darkSide {
  grid-area: blur1;
}

.boxShadow.centerOf {
  grid-area: input;
}

.boxShadow.lightSide {
  grid-area: blur2;
}
